.inicio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas en escritorio */
  gap: 20px;
  margin: 20px;
}

.card {
  background: #ffffff;
  border: 2px solid #003366; /* azul oscuro institucional */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  max-width: 280px;   /* límite de ancho para que no se vean gigantes */
  margin: auto;       /* centra cada card dentro de su columna */
}
/* Responsive tablet */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    text-align: center;
  }
  .card {
    width: 100%;
  }
}

/* Responsive celular */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .menu a {
    display: block;
    padding: 15px;
  }
}



.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.card h2 {
  color: #000000;
  margin-bottom: 10px;
}

.card img {
  max-width: 100px;   /* controla tamaño de la imagen */
  height: auto;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9em;   /* texto más compacto */
  color: #333333;
  margin-bottom: 15px;
}

.card .btn {
  display: inline-block;
  padding: 8px 15px;
  background-color: #ca0808;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.card .btn:hover {
  background-color: #f32c25;
}
